body{
    margin: 0;
    font-family: sans-serif;
    color: #333333;
    width: 100%;
    background-image: url(../img/bg.jpg);
    background-size: cover;
}
/* General Styles */

.centered{
    text-align: center;
}

.fixed-bottom{
    position: fixed;
    bottom: 0px;
}

.centered-block{
    margin-left: auto;
    margin-right: auto;
}

.centered-vert{
    margin-top: 10%; 
}

.hide{
    display: none;
}

.show{
    display: inherit;
}

.float-right{
    float: right;
}

.float-left{
    float: left;
}

.clearfix{
    float: none;   
}

/*SITE HEADER*/
header{
    height: auto;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: rgba(50,50,50,0.4);
}

.logo{
    height: auto;
    width: 200px;
}

.sign-out{
    font-size: 21px;
    font-weight: 500;
    right: 25px;
    position: absolute;
    top: 79px;
    color: lightgreen
}

/*FOOTER*/
footer{
    background-color: rgba(50,50,50,0.4);
    width: 100%;
    height: 50px;
    color: white;
    font-weight: 400;
    font-size: 12px;
    padding-top: 20px;
}

/* Sign in Form*/
#sign{
    width: 300px;
    height: auto;
    border: 1px solid #AAAAAA;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 10px;
    box-shadow: -2px 2px 5px #888888;
}

#sign label, #sign input{
    margin-top: 6px;   
}

#sign a{
    font-size: 11px;   
}

/* Home user Page*/

/*==============main section==========*/
#mainInfo{
    width: 100%;
    overflow: auto;
    background-color: white;
}

#mainInfo h1{
    border-bottom: 1px solid #DDDDDD;
    padding-bottom: 5px;
}

#courses{
    width: 65%;
    margin: 20px;
    padding: 5px;
}

#addCourse{
    width: 50%;   
}

/* Courses Table*/
#courses-table{
    border: 5px solid darkgray;
    border-collapse: collapse;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;  
    margin-bottom: 150px;
}

#courses-table td, #courses-table th{
    border: 2px solid darkgray;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 5px;
    padding-top: 5px;
    text-align: center;
}

#courses-table tr:nth-child(odd){
    background-color: #EEEEEE;   
}

/*==============aside=================*/

#sideInfo{
    width: 30%;
    background-color: white;
    height: 100%;
    padding-left: 10px;
    border-left: 1px solid #DDDDDD;
    margin-bottom: 150px;
}

.meta{
    display: block;
    width: 75px;
    height: 55px;
    background-color: #666666;
    color: white;
    border-radius: 50%;
    font-weight: 900;
    font-size: 25px;
    padding-top: 20px;;
}

.meta:first-of-type{
    border: 10px solid crimson;
}

.meta:nth-of-type(2){
    border: 10px solid darkgreen;
}

.meta:nth-of-type(3){
    border: 10px solid darkslateblue;
}












